.sec2 {
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.sec-2-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-2-1 > :nth-child(1) {
  font-weight: 600;
}

.sec-2-2 {
  margin-top: 150px;
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  gap: 80px;
}

.sec-2-2-1 {
  margin-left: 150px;
}

.sec-2-2-1 img {
  width: 300px;
  border-radius: 50%;
}

.sec-2-2-2-1 {
  display: flex;
  gap: 50px;
}

.sec-2-2-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  gap: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.box img {
  width: 35px;
}

.box:hover {
  transform: scale(1.1);
}

.sec-2-2-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.box > :nth-child(2) {
  font-size: 20px;
  font-weight: 600;
}

.box > :nth-child(3),
.box > :nth-child(4) {
  font-size: 17px;
}

.p1 {
  width: 80%;
}

@media (max-width: 1024px) {
  .sec2 {
    height: 100%;
  }
  .sec-2-2 {
    margin-top: 50px;

    flex-direction: column;
  }

  .sec-2-2-1 {
    margin-left: 0px;
  }

  .sec-2-2-2 {
    align-items: center;
  }
}

@media (max-width: 767px) {
  .sec2 {
    height: 100%;
  }
  .sec-2-2 {
    margin-top: 50px;

    flex-direction: column;
  }
  .sec-2-2-1 img {
    width: 250px;
  }

  .sec-2-2-1 {
    margin-left: 0px;
  }

  .sec-2-2-2 {
    align-items: center;
  }

  .sec-2-2-2-1 {
    flex-direction: column;
  }
}
